.App {
  /* min-height: 100vh; */
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding: 0px 1rem;
  background-color: #282c34;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content:space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  padding: 0px 1rem;
  background-color:darkgray;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product{
  margin: .5rem;
  /* max-width: 250px; */

  border: 1px solid ;  
}

.product img{
  width: 100%;  
  max-width: 250px;
}

.product div{
  margin: .5rem 1rem;
}